/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}
.carousel {
  height: 50%;
}
.main-wrapper {
  width: 100%;
  position: relative;
  height: 85vh;
}
.menu-holder {
  /* width: 80%; */
  margin: 0 auto;
  z-index: 9999;
}
.slider-holder {
  width: 100%;
  height: 85vh;
  position: absolute;
  top: 0;
  z-index: -1;
}

.carousel {
  height: 85vh !important;
}

.absolute {
  position: absolute;
}
